<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Esquire Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">
                        Saved Articles
                    </a>
                </li>
                <li>
                    <a class="btn btn-warning btn-scrape">
                        <i class="fab fa-jenkins"></i>
                        <span id="scrape-btn-span">Scrape Esquire</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-12" id="esquire-img-div">
            <img id="esquire-img" src="/assets/img/mensfashion.jpg" alt="mens-fashion">
            <div class="row" id="esquire-img-div"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="scraper-message-div">
            <span id="brand-span">Esquire Scraper: </span>
            <span id="message-span">Scrape it. Read it. Style it.</span>
        </div>
    </div>
</div>


<script src="/assets/js/scrapes.js"></script>