.container,
.modal-footer,
.modal-header {
  background: #353a3f;
}
@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
.navbar-brand {
  font-family: "Molle", cursive;
  font-size: 36px;
}

.btn-warning {
  background-color: #9a6d51;
  border-color: #f8f9fa;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: #ff5104;
  border-color: #f8f9fa;
}

.scrape-btn-li {
  margin-left: 5px;
}
#scrape-btn-span {
  color: white;
  margin-left: 5px;
}
.fa-jenkins {
  color: white;
  font-size: 20px;
}

#esquire-img {
  width: 100%;
}

#brand-span,
#modal-span {
  color: #ff5104;
  font-family: "Molle", cursive;
  font-size: 30px;
  text-shadow: 1px 1px white;
  margin-left: 10px;
}

#motto-span {
  color: white;
  font-size: 20px;
}
#message-span {
  color: white;
  font-size: 20px;
}

.article-row {
  margin-bottom: 20px;
}

.article-row:last-child {
  padding-bottom: 20px;
}

.project-content-div {
  color: white;
  font-size: 14px;
}

.article-link {
  color: #9a6d51;
}
.article-link:hover {
  color: #ff5104;
}
.project-button-div {
  align-content: center;
}
.save-btn,
.have-read-btn,
.notes-btn,
.unsave-btn {
  margin-top: 10px;
  width: 130px;
}

.save-btn:hover,
.save-btn:focus,
.save-btn:active,
.notes-btn:hover,
.notes-btn:focus,
.notes-btn:active {
  background-color: #20bf6b;
  border-color: #20bf6b;
}

.have-read-btn:hover,
.have-read-btn:focus,
.have-read-btn:active,
.unsave-btn:hover,
.unsave-btn:focus,
.unsave-btn:active {
  background-color: #eb3b5a;
  border-color: #eb3b5a;
}

.modal-header {
  color: white;
}

.btn-times {
  color: white;
}

.modal-notes-row {
  margin-bottom: 10px;
}

.delete-btn-div {
  align-content: center;
}
.btn-danger {
  margin-top: 10px;
  background-color: #808e9b;
  border-color: #747d8c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #eb3b5a;
  border-color: #eb3b5a;
}

form {
  margin-top: 30px;
}

.btn-primary {
  margin-top: 10px;
  background-color: #1e90ff;
  border-color: #1e90ff;
}
