<div class="row note-row justify-content-center">
    <div class="col-sm-12 col-md-8 note-content-div">
        <div>
            <b>{{this.title}}</b>
        </div>

        <div>
            {{this.body}}
        </div>
    </div>
    <div class="col-sm-12 col-md-2 justify-content-center note-button-div">
        <button class="btn btn-light btn-sm delete-note-btn" data-id={{this._id}}>
            <i class="far fa-save "></i>
            <span id="scrape-btn-span ">Save Article</span>
        </button>

        <button class="btn btn-light btn-sm have-read-btn" data-id={{this._id}}>
            <i class="far fa-trash-alt"></i>
            <span id="scrape-btn-span ">Delete Note</span>
        </button>
    </div>
</div>

<div class="modal fade" id="note-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn-times" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" id="modal-notes-container">
                    {{#if notes}} {{#each notes}} {{> notes/note-block}} {{/each}}{{/if}}
                </div>
                <form>
                    <div class="form-group">
                        <label for="note-title">Note Title:</label>
                        <input type="text" class="form-control" id="note-title" placeholder="e.g. Buy these shoes!">
                    </div>
                    <div class="form-group">
                        <label for="note-body">Note Body:</label>
                        <textarea class="form-control" id="note-body" rows="3" placeholder="e.g. Stylish, high quality, and the perfect price!"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary add-note-btn">
                        <i class="fas fa-pencil-alt"></i>
                        <span id="scrape-btn-span ">Add Note</span>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <span id="modal-span">
                    Esquire Scraper
                </span>
            </div>
        </div>
    </div>
</div>